/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: 0, 0, 40;
  --title-color: 219, 0, 255;
  --title-decor-color: var(--bg-color);
  --text-color: 241, 178, 206;
  --accent-color: 255, 0, 112;
  --cover-image: url("../images/cover-image-dark.png");
  --section-title-color: var(--accent-color);
  --decoration-color: var(--accent-color);
  --button-color: var(--accent-color);
  --decoration-visibility: visible;
}