/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: 255, 241, 247;
  --title-color: 255, 194, 230;
  --title-decor-color: 53, 52, 48;
  --text-color: 53, 52, 48;
  --accent-color: 255, 141, 203;
  --cover-image: url("../images/cover-image-light.png");
  --section-title-color: var(--title-decor-color);
  --decoration-color: var(--text-color);
  --button-color: var(--text-color);
  --decoration-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: 255, 241, 247;
    --title-color: 255, 194, 230;
    --title-decor-color: 53, 52, 48;
    --text-color: 53, 52, 48;
    --accent-color: 255, 141, 203;
    --cover-image: url("../images/cover-image-light.png");
    --section-title-color: var(--title-decor-color);
    --decoration-color: var(--text-color);
    --button-color: var(--text-color);
    --decoration-visibility: hidden;
  }
}